:root {
    --title-color: #101828;
    --text-color: #667085;
    --primary-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*  Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;
    height: 80px;
    width: 100%;

    font-weight: 500;
}

div.menu {
    display: flex;
    align-items: center;
    gap: 118px;
}

img.logo {
    height: 27px;
    width: 148px;
}

ul {
    display: flex;
    gap: 32px;

    list-style: none;

    font-size: 16px;
    line-height: 24px;
}

li {
    color: var(--text-color);
}

div.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

a.link-nav, button.btn-nav {
    height: 44px;
}

a.link-nav {
    text-decoration: none;

    padding: 10px 18px;
    width: 83px;

    font-size: 16px;
    line-height: 24px;
    color:  var(--text-color);
}

button.btn-nav {
    width: 112px;
    border-radius: 8px;
    border: none;

    color: #fff;
    background-color: var(--primary-color);

    font-size: 16px;
    line-height: 24px;
}

/*  Header section  */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    height: 408px;
}

header span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: var(--primary-color);
}

header h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    color: var(--title-color);
}

header  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    width: 792px;

    color: var(--text-color);
}

/*  Metrics section  */

.metrics-container {
    display: flex;
    justify-content: space-between;

    height: 288px;
    padding: 0 6.2% 96px 6.2%;
}

.metrics-item span {
    color: var(--primary-color);

    font-size: 60px;
    font-weight: 600;
    line-height: 72px;

    margin-bottom: 12px;
} 

.metrics-item h1 {
    color: var(--title-color);

    font-size: 18px;
    font-weight: 500;
    line-height: 28px;

    margin-bottom: 8px;
}

.metrics-item p {
    color: var(--text-color);

    font-size: 16px;
    font-weight: 400;

    width: 280px;
}